# Ignore Python cache
app/__pycache__

# Ignore SQLite database files
*.db

# Ignore environment variables file
.env

# Ignore virtual environment folder
env/


# Ignore OS files
.DS_Store

app/test.db
